<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
      body { font-family: "Quicksand", sans-serif }
    </style>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-sm bg-white">
      <div class="container-fluid">
        <h5 class="m-0"><%= title %></h5>
        <form action="pelayan/logout" method="post">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </nav>

    <div class="container p-2 pt-4">
      <!-- Stat card -->
      <div class="row mb-4">
        <div class="col d-flex align-items-center border rounded p-2 mx-2 bg-white">
          <h5 class="flex-grow-1 m-0">Meja Tersedia</h5>
          <h1 class="text-success m-0"><%= meja.filter(p => p.status_meja === 'KOSONG').length %></h1>
        </div>
        <div class="col d-flex align-items-center border rounded p-2 mx-2 bg-white">
          <h5 class="flex-grow-1 m-0">Meja Terisi</h5>
          <h1 class="text-danger m-0"><%= meja.filter(p => p.status_meja === 'TERISI').length %></h1>
        </div>
        <div class="col d-flex align-items-center border rounded p-2 mx-2 bg-white">
          <h5 class="flex-grow-1 m-0">Pesanan Pending</h5>
          <h1 class="text-success m-0"><%= pesanan.filter(p => p.status_pesanan === 'BELUM_DIMASAK').filter(p => menuPesanan.filter(m => m.id_pesanan === p.id_pesanan).some(m => m.ketersediaan === 'TIDAK_TERSEDIA')).length %></h1>
        </div>
        <div class="col d-flex align-items-center border rounded p-2 mx-2 bg-white">
          <h5 class="flex-grow-1 m-0">Siap Disajikan</h5>
          <h1 class="text-success m-0"><%= pesanan.filter(p => p.status_pesanan === 'SIAP_DISAJIKAN').length %></h1>
        </div>
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#belum-dimasak">Belum Dimasak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#sedang-dimasak">Sedang Dimasak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#menu-tidak-tersedia">Menu Tidak Tersedia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#siap-disajikan">Siap Disajikan</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Tab belum dimasak -->
      <div id="belum-dimasak" class="container tab-pane active"><br>
        <h5 class="mb-3">Belum Dimasak</h5>
        <% pesanan.filter(p => p.status_pesanan === 'BELUM_DIMASAK').forEach(p => { %>
          <div class="border rounded p-2 mb-3 bg-white">
            <div class="d-flex align-items-center">
              <div class="mt-2 mb-3 flex-grow-1">
                <h4>Meja <%= p.id_meja %></h4>
                <%- menuPesanan.filter(m => m.id_pesanan === p.id_pesanan && m.ketersediaan !== 'TIDAK_TERSEDIA').map(m => `${m.jumlah}x ${m.nama_menu}`).join('<br>') %>
              </div>
              <h5>Total: Rp <%= p.total_harga.toLocaleString('id-ID') %></h5>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Tab sedang dimasak -->
      <div id="sedang-dimasak" class="container tab-pane fade"><br>
        <h5 class="mb-3">Sedang Dimasak</h5>
        <% pesanan.filter(p => p.status_pesanan === 'SEDANG_DIMASAK').forEach(p => { %>
          <div class="border rounded p-2 mb-3 bg-white">
            <div class="d-flex align-items-center">
              <div class="mt-2 mb-3 flex-grow-1">
                <h4>Meja <%= p.id_meja %></h4>
                <%- menuPesanan.filter(m => m.id_pesanan === p.id_pesanan).map(m => `${m.jumlah}x ${m.nama_menu}`).join('<br>') %>
              </div>
              <h5>Total: Rp <%= p.total_harga.toLocaleString('id-ID') %></h5>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Tab menu tidak tersedia -->
      <div id="menu-tidak-tersedia" class="container tab-pane fade"><br>
        <h5 class="mb-3">Menu Tidak Tersedia</h5>
        <% const menuTidakTersedia = menuPesanan.filter(m => m.ketersediaan === 'TIDAK_TERSEDIA');
          const grouped = {};

          menuTidakTersedia.forEach(m => {
              if (!grouped[m.id_pesanan]) grouped[m.id_pesanan] = [];
              grouped[m.id_pesanan].push(m);
          });

          for (const id_pesanan in grouped) {
            const pesananData = pesanan.find(p => p.id_pesanan == id_pesanan);
            if (!pesananData) continue; %>
            <div class="border rounded p-2 mb-3 bg-white">
              <h4>Meja <%= pesananData.id_meja %></h4>
              <% grouped[id_pesanan].forEach(m => { %>
                <div class="d-flex align-items-center border rounded p-2 mb-2">
                  <div class="flex-grow-1">
                    <strong><%= m.jumlah %>x <%= m.nama_menu %></strong>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-danger me-1" onclick="deleteMenuPesanan('<%= m.id_menu %>', '<%= m.id_pesanan %>')">Hapus</button>
                    <button class="btn btn-warning ms-1" data-bs-toggle="modal" data-bs-target="#modal-ganti-menu" onclick="openChangeMenuModal('<%= m.id_menu %>', '<%= m.id_pesanan %>', '<%= m.nama_menu %>', '<%= m.jumlah %>')">Ganti</button>
                  </div>
                </div>
              <% }) %>
            </div>
        <% } %>
      </div>

      <!-- Tab siap disajikan -->
      <div id="siap-disajikan" class="container tab-pane fade"><br>
        <h5 class="mb-3">Siap Disajikan</h5>
        <% pesanan.filter(p => p.status_pesanan === 'SIAP_DISAJIKAN').forEach(p => { %>
          <div class="border rounded p-2 mb-3 bg-white">
            <div class="d-flex align-items-center">
              <div class="mt-2 mb-3 flex-grow-1">
                <h4>Meja <%= p.id_meja %></h4>
                <%- menuPesanan.filter(m => m.id_pesanan === p.id_pesanan).map(m => `${m.jumlah}x ${m.nama_menu}`).join('<br>') %>
              </div>
              <h5>Total: Rp <%= p.total_harga.toLocaleString('id-ID') %></h5>
            </div>
            <button class="btn btn-primary w-100" onclick="updateStatusPesanan('<%= p.id_pesanan %>', '<%= id_pelayan %>', 'SUDAH_DISAJIKAN')">Sudah Disajikan</button>
          </div>
        <% }) %>
      </div>
    </div>

    <!-- Modal Ganti Menu -->
    <div class="modal" id="modal-ganti-menu">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Pilih Menu Pengganti</h4>
            <button type="button" class="btn-close" onclick="closeChangeMenuModal()" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <!-- Step Menu -->
            <div class="form-step">
              <div class="row g-3">
                <% menu.forEach(({ id_menu, nama_menu, harga, jenis_menu }) => { %>
                <div class="col-12 d-flex align-items-center border rounded p-2">
                  <img src="/img/menu/<%= id_menu %>.jpg" alt="<%= nama_menu %>" class="img-fluid rounded" style="max-width: 100px;">
                  <div class="ms-3 flex-grow-1">
                    <div class="fw-bold"><%= nama_menu %></div>
                    <div class="text-muted small"><% if (jenis_menu === 'MAKANAN'){ %> Makanan <% } else { %> Minuman <% } %><br>Rp <%= harga.toLocaleString('id-ID') %></div>
                  </div>
                  <button type="button" class="btn btn-primary" onclick="selectNewMenu('<%= id_menu %>', '<%= nama_menu %>', '<%= harga %>')">Pilih</button>
                </div>
                <% }) %>
              </div>
            </div>

            <!-- Step Konfirmasi -->
            <div class="form-step d-none">
              <div id="change-summary" class="mb-3"></div>
              <div class="d-flex justify-content-between align-items-center">
                <span>Jumlah:</span>
                <div>
                  <button type="button" class="btn btn-outline-dark btn-sm" onclick="changeQuantity(-1)">
                    <i class="bi bi-dash"></i>
                  </button>
                  <div class="px-2 d-inline"><span id="new-quantity">1</span></div>
                  <button type="button" class="btn btn-outline-dark btn-sm" onclick="changeQuantity(1)">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </div>
              <div class="mt-4">
                <strong>Sub Total: Rp <span id="new-subtotal">0</span></strong>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="d-none modal-footer" id="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="showStep(0)">Kembali</button>
            <button type="button" class="btn btn-primary" onclick="confirmChangeMenu()">Konfirmasi Perubahan</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/pelayan.js"></script>
  </body>
</html>
